.env
__pycache__/
*.pyc
*.pyo
.vscode/
*.egg-info/
dist/
build/
tmp_*
nginx/ssl/*.pem
nginx/ssl/*.key
nginx/.htpasswd
import.log
node_modules/
Mailchimp/
*.log
.idea/
mass_import_python.log
src/cleaner.py
src/clean_code.py
src/test_parser.py
src/run_mass_import.py
/imports/
